@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
    
}
body {
    overflow-x: hidden;
}

@media (max-width: 768px) {

    .man_hidden_css{
        display: none;
    }
    .footerlink{
        flex-direction: column;
    }
}